@{
  Layout = "_Layout";
}

<div class="formBox">
  <h1>Contact Us:</h1>
  <p>Email: pierrebakery@gmail.com</p>
  <p>123 Flavor St.</p>
  <p>FlavorTown, FF 10101</p>
  <p>Phone Number: 101-010-1010</p>
</div>
