@{
  Layout = "_Layout";
}

<h1>Welcome to Pierres Treat and Flavor Tracker!</h1>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p> <p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>