@{
  Layout = "_Layout";
}

@model TreatFlavor.Models.Treat

<div class="formBox">
  <h1>Search For Treats</h1>
  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.Search)
    <input type="submit" value="Search" />
  }


  @if (@ViewBag.Treats.Count == 0)
  {
    <h3>No Treats Found</h3>
  }
  else
  {
    <h3>Treats from search:</h3>
    @foreach (var t in ViewBag.Treats)
    {
      <li>@Html.ActionLink($"{t.Name}", "Details", "Treats", new { id = t.TreatId })</li>  
    } 
  }
</div>